<div class="about text-center">
    <div class="container">
        <h2>ABOUT COMPONENT</h2>
        <div class="icon">
            <i class="fa-solid fa-star"></i>
        </div>
        <div class="row text-start pt-3 px-5">
            <div class="col-md-6">
                <p> Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization. </p>
            </div>
            <div class="col-md-6">
                <p> Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization. </p>
            </div>
        </div>
    </div>
</div>