<div class="contact text-center py-3">
    <div class="container">
        <h2>CONTACT SECTION</h2>
        <div class="icon">
            <i class="fa-solid fa-star"></i>
        </div>
        <form class="pt-5">
            <input type="text" name="uName" id="" placeholder="userName" class="w-50 py-2 ps-2 my-4 border-0 shadow-sm rounded-3"><br>
            <input type="text" name="uAge" id="" placeholder="userAge" class="w-50 py-2 ps-2 my-4 border-0 shadow-sm rounded-3"><br>
            <input type="email" name="uEmail" id="" placeholder="userEmail" class="w-50 py-2 ps-2 my-4 border-0 shadow-sm rounded-3"><br>
            <input type="password" name="uPassword" id="" placeholder="userPassword" class="w-50 py-2 ps-2 my-4 border-0 shadow-sm rounded-3"><br>
            <button type="button" class="btn btn-success mt-3">send Message</button>
        </form>
    </div>
</div>