<div class="portfolio text-center py-4">
    <div class="container">
        <h2>PORTFOLIO COMPONENT</h2>
        <div class="icon">
            <i class="fa-solid fa-star"></i>
        </div>
        <div class="row gy-5 gx-5 pt-2">
            <div class="col-md-4">
                <img class="w-100 rounded rounded-3" src="poert1.png" alt="a house">
            </div>
            <div class="col-md-4">
                <img class="w-100 rounded rounded-3" src="port2.png" alt="an cake">
            </div>
            <div class="col-md-4">
                <img class="w-100 rounded rounded-3" src="port3.png" alt="a tent">
            </div>
            <div class="col-md-4">
                <img class="w-100 rounded rounded-3" src="poert1.png" alt="a house">
            </div>
            <div class="col-md-4">
                <img class="w-100 rounded rounded-3" src="port2.png" alt="an cake">
            </div>
            <div class="col-md-4">
                <img class="w-100 rounded rounded-3" src="port3.png" alt="a tent">
            </div>
        </div>
    </div>
</div>